# Training
n_ctx: 4
checkpoint: cholec_vals/scpnet_hill_sp    # For saving checkpoints
log_file: scpnet_hill_sp.txt
model_name: scpnet
batch_size: 16
accumulation_steps: 2
lr: 1e-5
epochs: 10
reweight_p: 0.2
relation_file: cholec/word2vec_similarity_matrix.npy
ratio: 1
#parent_n_ctx: 4
#parent_ctx_init: a photo of a
child_n_ctx: 4
child_ctx_init: a photo
change_epoch: 1 # Warmup epoch
tau: 0.6
image_size: 224
num_classes: 110
super_labels: cholec/cholec_super_labels.txt
super_labels_index: cholec/cholec_labels_index.npy
child_num: 110
label_file: label_jsons/data1.json  # Label file for initialization
val_sp : True # If single positive validation
val_methods : ['pp_map', 'pp_loss', 'sp_loss'] # Methods for saving loss
perform_init : False  # Perform model initialization with triplet pseudolabels
init_train_file : triplet_train_labels.json # Init labels
init_val_file : triplet_val_labels.json # Init labels
init_epochs : 5
init_lr : 1e-5
dir : trial_scpnet_hill_sp  # Directory to save results
loss : Hill  # Loss function
use_lfile : False  # If use label file
getitem : False # If call random in getitem
# Random in init if both false
backbone : ViT-L/14
seed: 0  # Set seed
partial: False # For partial positive data in training
model: SCPNet
#bert_path : /home/swalimbe/surgvlp_trial/Bio_ClinicalBERT  # Bert init for SurgVLP
#vlp_weights : /home/swalimbe/surgvlp_trial/nips_v1.tar # Ckpt for SurgVLP


# Testing
ckpt: temp.ckpt  # Ckpt path for inference
test_dir: trial_test_scpnet_hill_sp # Directory to save results
test_loss: Hill  # Loss function

gcn_layers: 3 # [SCPNet SAM] GCN 堆叠层数
top_k: 10 # [SCPNet SPP] 用于生成稀疏关系矩阵的 Top-K 值
t_smooth: 0.07 # [SCPNet SPP] 用于关系矩阵归一化的平滑温度（论文 Eq. 4 中的 t）
